@keyframes imagePop {
    0% {
        transform: scale(0.1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes paragraphBounceA {
    0% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes paragraphBounceB {
    0% {
        transform: translateX(200%);
    }
    60% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}

.about {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-third-color);
    height: 100%;
    width: 100%;
    position: relative;
}

#aboutContainer {
    background-color: var(--main-bg-color);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5), 0 3px 10px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}

#aboutMeTitleContainer {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, transparent 30%, var(--main-bg-color), transparent 70%);
}

#aboutMeTitle {
    position: relative;
    text-align: center;
    font-family: var(--header-font), "Roboto", sans-serif;
    font-size: 2.5em;
    color: var(--main-text-color);
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease;
}

#aboutMeTitle.fadeIn {
    opacity: 1;
    transition: opacity 2s ease;
}

#aboutMeTitleContainer::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 30%, var(--main-accent-color), transparent 70%);
}

#aboutMeTitleContainer::after {
    position: absolute;
    content: '';
    top: calc(100% - 3px);
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 30%, var(--main-accent-color), transparent 70%);
}

.stageContainer {
    width: 93vw;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 30px;
}

.lifePWrapper {
    position: relative;
    width: calc(45% - 40px);
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.lifePContainer {
    width: calc(100% - 40px);
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 3px 10px rgba(0, 0, 0, .5), inset 0 0 20px rgba(0, 0, 0, .5);
    transition: box-shadow 0.3s ease;
}

.lifeParagraph {
    font-size: 1.2em;
    color: var(--main-text-color);
    font-family: var(--body-font), "Roboto", sans-serif;
    line-height: 1.5;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.about :nth-child(even) {
    flex-direction: row;
}

.about :nth-child(odd) .lifePWrapper .lifePContainer {
    transform: translateX(200%);
}

.about :nth-child(even) .lifePWrapper .lifePContainer {
    transform: translateX(-200%);
}

.about :nth-child(even) .lifePWrapper .lifePContainer.inView {
    animation: paragraphBounceA 1s ease forwards;
}

.about :nth-child(odd) .lifePWrapper .lifePContainer.inView {
    animation: paragraphBounceB 1s ease forwards;
}

.lifePContainer.outView {
    transform: translateX(0);
}

.lifePWrapper:has(.lifePContainer:hover) {
    transform: scale(1.05);
}

.lifePContainer:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 3px 20px rgba(0, 0, 0, .8), inset 0 0 20px rgba(0, 0, 0, .5);
}

.lifeImageContainer {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    /* filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .5), 0 3px 10px rgba(0, 0, 0, .5)); */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

.lifeImageContainer.inView {
    animation: imagePop 1s ease forwards;
}

.lifeImageContainer:has(.lifeImage:hover) {
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.lifeImage {
    height: 400px;
    max-height: 100%;
    max-width: 100vw;
    aspect-ratio: 1/1;
    clip-path: circle(50% at center 50%);
    transition: all 0.3s ease;
}

.lifeImage:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

#earlyLifeImage {
    background: url(../assets/kidMe.jpg) no-repeat center center;
    background-size: cover;
}

#buddingDeveloperImage {
    background: url("../assets/graduation%202.jpg");
    background-position: 80% 0px;
    background-size: cover;
}

#youngAdultImage {
    background: url("../assets/fiance.jpg");
    background-size: cover;
    background-position: 45% 40%;
}

#climbingTheLadderImage {
    background: url("../assets/mom.jpg");
    background-size: cover;
    background-position: 90% 70%;
}

#currentEmploymentImage {
    background: url("../assets/carter.jpg");
    background-size: cover;
    background-position: 0 55%;
}

#futureImage {
    background: url("../assets/dad.jpg");
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #aboutMeTitleContainer {
        background: linear-gradient(to right, transparent 5%, var(--main-bg-color), transparent 95%);
        margin-bottom: 40px;
    }

    #aboutMeTitleContainer::after, #aboutMeTitleContainer::before {
        background: linear-gradient(to right, transparent 5%, var(--main-accent-color), transparent 95%);
    }

    .stageContainer {
        flex-direction: column !important;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .lifePWrapper {
        width: 100%;
        margin: 40px 0;
    }

    .lifePContainer {
        width: 100%;
        margin: 0;
    }

    .lifeImage {
        height: 300px;
    }
}