@keyframes pourTea {
    0% {
        transform: rotate(0deg)
            scale(1);
            filter: none;
    }
    30% {
        transform: rotate(-45deg)
            scale(1.5);
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    }
    50% {
        transform: rotate(-30deg)
            scale(1.5);
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    }
    70% {
        transform: rotate(-45deg)
            scale(1.5);
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    }
    100% {
        transform: rotate(0deg)
            scale(1);
            filter: none;
    }
}

@keyframes teaTime {
    0% {
        transform: rotate(-45deg) translate(-20px, -20px);
        opacity: 0;
    }
    20% {
        transform: rotate(-45deg) translate(0px, -20px);
        opacity: 1;
    }
    80% {
        transform: rotate(-45deg) translate(60px, -20px);
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(80px, -20px);
        opacity: 0;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

#generalInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5), 0 3px 10px rgba(0, 0, 0, .5);
    padding: 20px 20px 20px 0;
}

#profileImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    /* filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .5), 0 3px 10px rgba(0, 0, 0, .5)); */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

#profileImage {
    width: 200px;
    height: 200px;
    clip-path: circle(35% at center 35%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    overflow: hidden;
    background: url("../assets/Me.jpg") no-repeat center top;
    background-size: cover;
}

#generalHeader {
    color: var(--main-text-color);
    font-family: var(--header-font), "Roboto", sans-serif;
    /*font-family: "Encode Sans Semi Condensed", "Roboto", sans-serif;*/
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
    word-spacing: 0.1em;
}

#generalTitle {
    color: var(--main-text-color);
    font-family: var(--header-font), "Roboto", sans-serif;
    /*font-family: "Encode Sans Semi Condensed", "Roboto", sans-serif;*/
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 0.04em;
}

#generalDesc {
    color: var(--main-third-color);
    font-family: var(--body-font), "Roboto", sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

#generalLocation {
    color: var(--main-third-color);
    font-family: var(--body-font), "Roboto", sans-serif;
    font-size: 1rem;
}

#generalLinks {
    display: flex;
    flex-direction: row;
}

.generalButton {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    max-width: fit-content;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: var(--button-font), sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.generalButton:hover {
    background-color: #f0f0f0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.24), 0 1px 10px rgba(0, 0, 0, 0.48);
}

.generalButton svg {
    margin-right: 2px;
}

#hireResume {
    color: #646464;
}

#hireResume:hover {
    color: #4b4b4b;
}

#hireLinked {
    color: white;
    background-color: #0a66c2;
}

#hireLinked:hover {
    color: #e4e4e4;
    background-color: #094f96;
}

#hireGit {
    background-color: #f6f8fa;
    color: #1f2328;
}

#hireGit:hover {
    background-color: #ffffff;
    color: #000000;
}

.outroHeader {
    font-family: var(--header-font), sans-serif;
    font-size: 2rem;
    color: var(--main-text-secondary-color);
}

.hireButton {
    display: flex;
    align-items: center;
    background-color: var(--main-secondary-color);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    max-width: fit-content;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: var(--button-font), sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    margin: 10px 20px;
    color: var(--main-text-secondary-color);
}

.hireButton svg {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    fill: var(--main-text-secondary-color);
    transition: all 0.3s ease;
}

.hireButton:hover {
    /* background-color: var(--main-bg-color); */
    /* color: var(--main-text-secondary-color); */
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(255, 255, 255, 0.24), 0 1px 20px rgba(255, 255, 255, 0.48);
}

#hirePhone {
    margin-bottom: 26px;
}

#teaHeader {
    margin-bottom: 0;
}

#teaContainer {
    position: relative;
}

#teaIcon {
    width: 100px;
    height: 100px;
    margin-top: 6px;
    margin-bottom: 120px;
    transform: scale(1) rotate(0deg);
}

#teaIcon:hover {
    animation: pourTea 3s ease-in-out forwards;
}

#teaTime {
    position: absolute;
    color: yellow;
    width: 100px;
    height: 100px;
    top: 0;
    left: 100%;
    transform: rotate(-45deg) translate(-20px, -20px);
    opacity: 0;
    pointer-events: none;
}

.teaTime {
    animation: teaTime 3s linear forwards;
}