#theHead {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 9999;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    background: linear-gradient(to bottom, var(--main-secondary-color), transparent);
    transition: all .3s ease;
    overflow: hidden;
}

#theHead.scrolled {
    background: var(--main-secondary-color);
    border-bottom: 3px solid var(--main-accent-color);
}

#theNav {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    font-family: var(--link-font), 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

#theNav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
} 

.nav-item {
    display: block;
    position: relative;
    height: 100%;
    position: relative;
}

.nav-link {
    transition: all 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--nav-link);
}

.nav-link.active {
    color: var(--nav-link-hover);
}

.nav-link:not(.nav-link.active):hover {
    color: var(--nav-link-hover);
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--main-accent-color), transparent);
    opacity: 0;
    transition: opacity 0;
}

.nav-link:not(.nav-link.active):hover::after {
    opacity: 1;
    transition: opacity 1s;
}

#theHead h1 {
    color: var(--nav-header);
    margin: 10px 30px;
    font-family: var(--nav-header-font), 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #theHead {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    
    #theHead h1 {
        text-align: center;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: top;
    }

    .nav-link {
        padding-bottom: 5px;
    }

    .nav-link::after {
        bottom: 3px;
    }
}