.aboutMe {
    margin-bottom: 80px;
    background: linear-gradient(to right, var(--main-bg-color) 30%, transparent 90%);
}

.aboutMe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, var(--main-accent-color) 30%, transparent 90%);
}

.aboutMe::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, var(--main-accent-color) 30%, transparent 90%);
}

.aboutMeContainer {
    width: 50%;
    margin-left: 20px;
}

#aboutMeH1 {
    color: var(--main-text-color);
    font-family: var(--header-font), "Roboto", sans-serif;
    /*font-family: "Encode Sans Semi Condensed", "Roboto", sans-serif;*/
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0;
}

#aboutMeP {
    color: var(--main-third-color);
    text-align: justify;
    font-family: var(--body-font), "Roboto", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.portButton {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    max-width: fit-content;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: var(--button-font), sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    margin: 0 10px;
    /* border: 1px solid var(--main-secondary-color); */
}

.portButton:hover {
    background-color: #f0f0f0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.24), 0 1px 10px rgba(0, 0, 0, 0.48);
    /* padding: 10px;
    margin: -5px 5px -5px 5px; */
}

#resumeLink {
    color: #646464;
}

#resumeLink svg {
    margin-right: 2px;
}

#resumeLink:hover {
    color: #4b4b4b;
}

#linkedLink {
    color: #0a66c2;
}

#linkedLink svg {
    margin-right: 2px;
}

#linkedLink:hover {
    color: #094f96;
}

.infoLinks {
    margin-bottom: 30px;
    color: var(--main-accent-color);
}

#portfolioProjectsWrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
    width: 97vw;
    border-radius: 10px;
    overflow: clip;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 3px 10px rgba(0, 0, 0, 0.5);
}

#projectList {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    height: 420px;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 80px;
}

#projectList > *:first-child {
    margin-left: 40px;
}

#projectList > *:nth-last-child(2) {
    margin-right: 40px;
}

#portfolio {
    padding-top: 120px;
}

#portfolioHeader {
    position: relative;
    color: var(--main-text-color);
    font-size: 2.5em;
    padding: 10px 10px 2px 10px;
    font-family: var(--header-font), "Roboto", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(to right, transparent 30%, var(--main-bg-color), transparent 70%);
}

#portfolioHeader::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 30%, var(--main-accent-color), transparent 70%);
}

#portfolioHeader::after {
    position: absolute;
    content: '';
    top: calc(100% - 3px);
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 30%, var(--main-accent-color), transparent 70%);
}

#portfolioProjects {
    background-color: var(--main-bg-color);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes backgroundGlow {
    0% {
        filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.8)) drop-shadow(0 0 10px rgba(196, 0, 0, 0.8));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8)) drop-shadow(0 0 10px rgba(255, 0, 0, 0.8)) drop-shadow(0 0 20px rgba(255, 0, 0, 0.8));
    }
    100% {
        filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.8)) drop-shadow(0 0 10px rgba(196, 0, 0, 0.8));
    }
}

#swipeContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /*animation: backgroundGlow ease-in-out 3s infinite alternate;*/
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.8)) drop-shadow(0 0 10px rgba(196, 0, 0, 0.8));
    pointer-events: none;
}

#swipeIcon {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(120deg)
        translate(-60%, -100%);
    clip-path: ellipse(70% 80% at top right);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
}

#scrollText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(460px, 5%);
    color: darkred;
    z-index: 9999;
}

.dragging {
    transition: all 1s ease;
    color: transparent !important;
}

#contactSubmit {
    background-color: var(--main-secondary-color);
    border: var(--main-accent-color) 1px solid;
    color: var(--main-text-color);
}