html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    background: linear-gradient(to right, var(--main-third-color) 20%, var(--main-secondary-color), var(--main-third-color) 80%);
}

@keyframes bounceA {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    60% {
        transform: translateX(5%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounceB {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    70% {
        transform: translateX(-5%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounceC {
    0% {
        transform-origin: center;
        transform: translate(-45% , 0%) scale(0.1);
        opacity: 0;
    }
    70% {
        transform: translate(-45% , 0%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-45%, 0%) scale(1);
    }
}

.icons {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 0 1px #000);
    margin-right: 10px;
}

#timelineContainer {
    padding-bottom: 120px;
}

.timeIcon {
    margin-left: 10px;
    width: 68px;
    height: 68px;
}

#timelineHeader {
    margin-top: 120px;
    position: relative;
    background: linear-gradient(to right, transparent 30%, var(--main-bg-color), transparent 70%);
}

#timelineHeader::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 30%, var(--main-accent-color), transparent 70%);
}

#timelineHeader::after {
    position: absolute;
    content: '';
    top: calc(100% - 3px);
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 30%, var(--main-accent-color), transparent 70%);
}

#timelineTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--main-text-color);
    font-size: 2.5em;
    padding: 10px 10px 8px 10px;
    font-family: var(--header-font), "Roboto", sans-serif;
    text-decoration: underline;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

#timelineTitle.notLoaded {
    opacity: 0;
    transition: opacity 1s ease;
}

#timelineTitle.loaded {
    opacity: 1;
    transition: opacity 1s ease;
}

#timelineTitle.notLoaded div:first-child {
    transform: translateX(-300%)
        rotateZ(-360deg);
    transition: transform 1.3s ease;
}

#timelineTitle.notLoaded div:last-child {
    transform: translateX(300%)
        rotateZ(360deg)
        scaleX(-1);
    transition: transform 1.3s ease;
}

#timelineTitle.loaded div:first-child {
    transform: translateX(0%)
        rotateZ(0deg);
    transition: transform 1.3s ease;
}

#timelineTitle.loaded div:last-child {
    transform: translateX(0%)
        rotateZ(0deg)
        scaleX(-1);
    transition: transform 1.3s ease;
}


#timelineContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 120px;
}

#timelineContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, var(--main-bg-color) 5%);
}

#timelineFilters {
    position: absolute;
    top: 50%;
    right: 40px;
    display: flex;
    flex-direction: row;
    transform: translate(0, -50%),
        scale(1);
    justify-content: right;
    width: 100%;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: filter .3s ease;
}

.filterContainer:hover {
    filter: drop-shadow(0 3px 5px rgba(255, 255, 255, .5)) drop-shadow(0 3px 10px rgba(255, 255, 255, .5));
}

.filterContainer svg {
    width: 30px;
    height: 30px;
    fill: var(--main-text-secondary-color);
    margin: 0 5px;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #000);
}

.filterCheckbox {
    cursor: pointer;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 2px solid var(--main-accent-color);
    width: 20px;
    height: 20px;
    background: var(--main-bg-color);
    pointer-events: none;
    transition: background .3s ease;
}

.filterCheckbox:checked {
    background: radial-gradient(circle, var(--main-accent-color) 40%, var(--main-bg-color) 50%);
}

.timelineEventContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: calc(90% - 40px);
    margin: 20px auto;
}

.timelineIcon {
    padding: 20px;
    background-color: var(--main-secondary-color);
    border-radius: 50%;
    border: 5px solid var(--main-bg-color);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-45%, 0%);
    z-index: 2;
}

.timelineIcon.outView {
    opacity: 0;
}

.timelineIcon.inView {
    animation: bounceC 0.6s ease;
}

.timelineIcon svg {
    fill: var(--main-bg-color);
    width: 30px;
    height: 30px;
}

.business {
    background-color: var(--main-text-color);
}

.family {
    background-color: rgb(199, 129, 0);
}

.education {
    background-color: green;
}

.start {
    background-color: rgb(173, 79, 95);
}

#timelineContainer :nth-child(even) {
    flex-direction: row-reverse;
    justify-content: center;
}

.timelineEvent {
    position: relative;
    display: flex;
    width: calc(50% - 40px);
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5), 0 3px 10px rgba(0, 0, 0, .5);
    background-color: var(--main-bg-color);
    margin: 0 90px;
    z-index: 1;
}

.timelineEvent.outView {
    opacity: 0;
}

.timelineEvent:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5), 0 6px 20px rgba(0, 0, 0, .5);
    transform: scale(1.05);
    transform-origin: center;
    /* padding: 40px;
    margin: -20px; */
    transition: transform .2s ease, box-shadow .2s ease;
}

#timelineContainer :first-child .timelineEvent {
    background-color: lightblue;
}

#timelineContainer :nth-child(odd) .timelineEvent.inView {
    animation: bounceA 0.6s ease;
}

#timelineContainer :nth-child(even) .timelineEvent.inView {
    animation: bounceB 0.6s ease;
}

.arrow {
    position: absolute;
    top: 38px;
    transform: translate(0%, -50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 3;
}

.arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: -1;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .5))
            drop-shadow(0 3px 10px rgba(0, 0, 0, .5));
}

.arrow::after {
    content: '';
    position: absolute;
    top: -20px;
    width: 20px;
    height: 40px;
    background-color: var(--main-bg-color);
    z-index: 3;
}

#timelineContainer :nth-child(odd) .timelineEvent .arrow {
    left: 100%;
    border-left: 10px solid var(--main-bg-color);
}

#timelineContainer :nth-child(even) .timelineEvent .arrow {
    left: -10px;
    border-right: 10px solid var(--main-bg-color);
}

#timelineContainer :first-child .timelineEvent .arrow {
    border-left: 10px solid lightblue;
}

#timelineContainer :nth-child(odd) .timelineEvent .arrow::before {
    border-left: 10px solid var(--main-bg-color);
    transform: translate(-100%, -50%);
}

#timelineContainer :nth-child(even) .timelineEvent .arrow::before {
    border-right: 10px solid var(--main-bg-color);
    transform: translate(0%, -50%);
}

#timelineContainer :first-child .timelineEvent .arrow::before {
    border-left: 10px solid lightblue;
}

#timelineContainer :nth-child(odd) .timelineEvent .arrow::after {
    left: -30px;
}

#timelineContainer :nth-child(even) .timelineEvent .arrow::after {
    left: 10px;
}

#timelineContainer :first-child .timelineEvent .arrow::after {
    background-color:lightblue;
}

.date {
    /* position: absolute;
    top: 13%; */
    font-weight: bold;
    color: var(--main-text-secondary-color);
    width: 50%;
    margin: 35px 90px;
    opacity: 0;
    transition: opacity .6s ease;
}

.date.inView {
    opacity: 1;
}

#timelineContainer :nth-child(odd) .date {
    text-align: left;
}

#timelineContainer :nth-child(even) .date {
    text-align: right;
}

.role {
    font-family: var(--header-font), "Roboto", sans-serif;
    color: var(--main-text-color);
    font-size: 2.3rem;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.location {
    font-family: var(--body-font), "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 24px;
    color: var(--main-text-color);
    font-size: 1.5rem;
}

.tools{
    display: flex;
    align-items: center;
    font-family: var(--body-font), "Roboto", sans-serif;
    color: var(--main-text-color);
}

.description {
    font-family: var(--body-font), "Roboto", sans-serif;
    color: var(--main-third-color);
}

.toolsIcon {
    background: url("../assets/icons/tools.svg") no-repeat center center;
    background-size: contain;
}

.educationIcon {
    background: url("../assets/icons/education.svg") no-repeat center center;
    background-size: contain;
    flex-shrink: 0;
    flex-grow: 0;
    width: 40px;
    height: 40px;
}

.bottleIcon {
    background: url("../assets/icons/bottle.svg") no-repeat center center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.ringIcon {
    background: url("../assets/icons/ring.svg") no-repeat center center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.houseIcon {
    background: url("../assets/icons/house.svg") no-repeat center center;
    background-size: contain;
}

.coupleIcon {
    background: url("../assets/icons/couple.svg") no-repeat center center;
    background-size: contain;
}

.timeIcon {
    background: url("../assets/icons/time.svg") no-repeat center center;
    background-size: contain;
}

/* .eventInformation:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5), 0 6px 20px rgba(0, 0, 0, .5);
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */