:root {
    --main-bg-color: #DCE0D9;
    --main-text-color: #0c4d6b;
    --main-accent-color: #6B0F1A;
    --main-third-color: #595959;
    --main-secondary-color: #808F85;
    --main-text-secondary-color: #97deff;
    --main-text-third-color: #357796;

    --nav-header: #86d9ff;
    --nav-link-hover: #d3ecf8;
    --nav-link: #2b2f31;

    --button-font: "Passion One";
    --header-font: "Yanone Kaffeesatz";
    --body-font: "Mako";
    --link-font: "Oswald";
    --nav-header-font: "Nanum Myeongjo";

    --project-count: 15;
}

* {
    box-sizing: border-box;
}

ul {
    padding-inline-start: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* background: var(--main-third-color); */
    background: linear-gradient(35deg, var(--main-accent-color) 35%, black 35%, black 65%, var(--main-accent-color) 65%);
    overflow-x: hidden;
}

a {
    margin: auto 10px;
    color: black;
}  



.aboutMe {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: var(--main-bg-color);
    margin-bottom: 20px;
}